  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
  font-family: 'Lato', sans-serif;
}
body {
  color: #000000;
  background-color: #7bcfff86;
  font-family: sans-serif;
}

a {
  color: rgb(166, 44, 247);
}

a:hover {
  opacity: 0.8;
}

img{
  max-width: 100%;
  width: 50rem;
}

p{
  max-width: 50rem;
}